# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/
output/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Operating system files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
